body {
    margin: 0;
    font-family: "Segoe UI";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body * {
    margin: 0;
    font-family: "Segoe UI";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
    display: none;
}
